<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week4</title>

    <link rel="stylesheet" href="assets/style/reset.css">
    <link rel="stylesheet" href="assets/style/style.css">
    
    

    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!-- 模板參考 -->
    <!-- https://codepen.io/hexschool/pen/vYxOVjd?editors=1000 -->

</head>
<body>
    

    
    
    <div id="products">
        <div class="container-lg">

            <!--  <h1 class="mb-3">
                products
            </h1> -->
            
            <div class="text-end mt-3">
                <button type="button" class="btn btn-primary" @click="openModal('create')">建立新產品</button>
            </div>

            <!-- {{products}} -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">分類</th>
                        <th scope="col">產品名稱</th>
                        <th scope="col">原價</th>
                        <th scope="col">售價</th>
                        <th scope="col">是否啟用</th>
                        <th scope="col">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr v-for="product in products" :key="product.id"> -->
                    <tr v-for="(item, key) in products" :key="item.id"><!-- 加上 :key 讓 for 迴圈跑出來的每筆資料的屬性有唯一值 -->
                        <td> {{ item.category }} </td><!-- 分類 -->
                        <td> {{ item.title }} </td><!-- 產品名稱 -->
                        <td> {{ item.origin_price }} </td><!-- 原價 -->
                        <td> {{ item.price }} </td><!-- 售價 -->
                        <td><!-- 是否啟用？ -->
                            <span v-if="item.is_enabled" class="text-success">啟用</span>
                            <span v-else>未啟用</span>
                        </td>
                        <td><!-- 編輯？ -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm" @click="openModal('edit', item)">
                                編輯
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm" @click="openModal('delete', item)">
                                刪除
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination :pages="page" :get-products-data="getProductsData" @change-page="getProductsData"></pagination>

        </div>

        
    
        <!-- 新增/編輯的視窗 -->
        <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content border-0">
                    <div class="modal-header bg-primary text-white">
                        <h5 id="productModalLabel" class="modal-title">
                            <span v-if="isNew">新增產品</span>
                            <span v-else>編輯產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-2">
                                    <div class="mb-3">
                                        <label for="imageUrl" class="form-label">輸入圖片網址</label>
                                        <input type="text" class="form-control" placeholder="請輸入圖片連結" v-model="tempProducts.imageUrl">
                                    </div>
                                    <img class="img-fluid" :src="tempProducts.imageUrl" alt="">
                                </div>
                                <div>
                                    <h5>多圖設定：</h5>

                                    <!-- 判斷tempProducts.imagesUrl是一個陣列 -->
                                    <div v-if="Array.isArray(tempProducts.imagesUrl)">
                                        <template v-for="(img , key) in tempProducts.imagesUrl" :key="key + 1235">  <!-- 因為沒id -->
                                            <input v-model="tempProducts.imagesUrl[key]" type="text" class="form-control" placeholder="請輸入圖片連結">
                                            <img :src="tempProducts.imagesUrl[key]" alt="" class="img-fluid mb-4"  >
                                        </template>
    
                                         <!-- 判斷 新增圖片 刪除圖片 出現的時機 -->
                                        <button class="btn btn-outline-primary btn-sm d-block w-100" @click="tempProducts.imagesUrl.push('')"
                                                v-if="!tempProducts.imagesUrl.length || tempProducts.imagesUrl[tempProducts.imagesUrl.length-1]">
                                                <!-- tempProducts.imagesUrl.length-1  取索引位置-->
                                            新增圖片
                                            <!-- 欄位是有填寫資料時+當如果是空的時候 -->
                                        </button>
                                        <button class="btn btn-outline-danger btn-sm d-block w-100" @click="tempProducts.imagesUrl.pop('')">
                                            刪除圖片
                                            <!-- 當是空著時候就不能刪除 -->
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="mb-3">
                                    <label for="title" class="form-label">標題</label>
                                    <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tempProducts.title">
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="category" class="form-label">分類</label>
                                        <input id="category" type="text" class="form-control" placeholder="請輸入分類" v-model="tempProducts.category">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">單位</label>
                                        <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempProducts.unit">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="origin_price" class="form-label">原價</label>
                                        <input id="origin_price" type="number" min="0" class="form-control"
                                            placeholder="請輸入原價" v-model.number="tempProducts.origin_price">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">售價</label>
                                        <input id="price" type="number" min="0" class="form-control"
                                            placeholder="請輸入售價" v-model.number="tempProducts.price">
                                    </div>
                                </div>
                                <hr>

                                <div class="mb-3">
                                    <label for="description" class="form-label">產品描述</label>
                                    <textarea id="description" type="text" class="form-control" placeholder="請輸入產品描述" >
        </textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="content" class="form-label">說明內容</label>
                                    <textarea id="description" type="text" class="form-control" placeholder="請輸入說明內容">
        </textarea>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input id="is_enabled" class="form-check-input" type="checkbox" :true-value="1"
                                            :false-value="0" v-model="tempProducts.is_enabled">
                                        <label class="form-check-label" for="is_enabled">是否啟用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" @click="updateProduct">
                            確認
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 刪除的視窗 -->
        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
            aria-labelledby="delProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header bg-danger text-white">
                        <h5 id="delProductModalLabel" class="modal-title">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-danger">{{tempProducts.title}}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-danger" @click="deleteProduct">
                            確認刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/products.js" type="module"></script> -->

    


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">


        let productModal = {};
        let delete_product = {};

        const { createApp } = Vue;

        
        import pagination from "./pagination.js"

        createApp({
            data(){
                return{
                    apiUrlink: 'https://vue3-course-api.hexschool.io/v2',
                    apiPath: 'apijy_vue',
                    products:[] ,
                    tempProducts:{
                        imagesUrl:[] ,
                    },
                    isNew:false,  //確認是編輯或新增
                    page:{}
                }
            },
            methods: {
                checkAdmin() {
                    const url = `${this.apiUrlink}/api/user/check`;
                    axios.post(url)
                    .then((response) => {
                        this.getProductsData();  //this.getData()
                    })
                    .catch((err) => {
                        alert(err.response.data.message)
                        window.location = 'login.html';
                    })
                },
                getProductsData(page = 1) {  //getData()   page=1為預設參數
                    // const url = `${this.apiUrlink}/api/${this.apiPath}/admin/products/all`;
                    const url = `${this.apiUrlink}/api/${this.apiPath}/admin/products/?page=${page}`;  //page=1
                    axios.get(url).then((response) => {
                    this.products = response.data.products;
                    this.page = response.data.pagination;
                    //console.log(response);
                    //console.log(this.products);
                    //console.log(response.data);
                    }).catch((err) => {
                    alert(err.response.data.message);
                    })
                },
                openModal(status ,item){  //status是可自訂的
                    //productModal.show();  //會打開
                    //console.log(status);  //按新增跑出create  按編輯跑出edit 
                    if(status === "create"){
                        productModal.show();
                        this.isNew = true;
                        //帶入初始化資料
                        this.tempProducts={
                            imagesUrl:[] ,
                        };
                    }else if(status === "edit"){
                        productModal.show();
                        this.isNew = false;
                        //會帶入當前要編輯的資料
                        this.tempProducts={...item};
                    }else if(status === "delete"){
                        delete_product.show();
                        this.tempProducts={...item};  //待會取id使用
                    }
                },       
                updateProduct() {  //更新產品
                    //console.log("updateProduct");
                    //console.log(`${this.apiUrlink}/api/${this.apiPath}/admin/product`);
                    let url = `${this.apiUrlink}/api/${this.apiPath}/admin/product`;
                    let method = "post"

                    //用this.isNew判斷api怎麼運行
                    if(!this.isNew){
                        url = `${this.apiUrlink}/api/${this.apiPath}/admin/product/${this.tempProducts.id}`;
                        method = "put"
                    }

                    // axios.post(url , { data: this.tempProducts })
                    axios[method](url , { data: this.tempProducts })  //用method這個變數帶
                    .then(response=>{
                        //console.log(response);
                        productModal.hide();  //會關閉
                        this.getProductsData();  //更新完產品需重新取得
                    })
                    // .catch((err)=>{
                    //     console.log(err);
                    // })
                },
                deleteProduct() {
                    const url = `${this.apiUrlink}/api/${this.apiPath}/admin/product/${this.tempProducts.id}`;
                    axios.delete(url)  //用method這個變數帶
                    .then(response=>{
                        // console.log(response);
                        this.getProductsData();  //更新完產品需重新取得
                        delete_product.hide();  //會關閉
                    })
                }
            }, 
            components:{
                pagination,
            },
            mounted() {
                //console.log(`${sitelink}api/${apiPath}/admin/products`)

                // const cookieValue = document.cookie
                // .split('; ')
                // .find((row) => row.startsWith("judyToken="))
                // ?.split('=')[1];

                // 取出 Token
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)judyToken\s*=\s*([^;]*).*$)|^.*$/, '$1');
                axios.defaults.headers.common.Authorization = token;

            // this.checkAdmin()     
            this.getProductsData();

                //bootstrap
                //console.log(bootstrap);
                productModal = new bootstrap.Modal("#productModal");       //新增/編輯的視窗
                delete_product = new bootstrap.Modal("#delProductModal");   //刪除的視窗
                //productModal.show();  //會打開
            }
            
        }).mount('#products');

    </script>




</body>
</html>